.content {
    background: #F8F8F8;
    padding-top:4vw;
    p {
        font-size:20px;
        line-height: 34px;
        font-family: 'Lato';
    }

    .heading {
        font-family: "Lemon";
        font-size: 54px;
    }
}