.content {
    background: #252324;
    padding-top:4vw;
    color:#ffffff;
    p {
        font-size:20px;
        line-height: 34px;
        font-family: 'Lato';
    }

    .heading {
        font-family: "Lemon";
        font-size: 54px;
    }
}