.header {
    
   
    border-top-right-radius: 10px;
    margin-top: 10px;
    
}

.logo {
    text-align: left;
    padding-top:4vw;
    padding-left: 4vw;
    margin-left: 10px;
   // background: #E4E4E4;
   background-color: #feef67;
    border-top-left-radius: 10px;
    svg {
        text-align: center;
       
      }
      
      h1 {
        position: absolute;
        text-indent: -999em;
      }
}

.menu {
   // background: #E4E4E4;
    background-color: #feef67;
    grid-column: span 19;
    border-top-right-radius: 10px;
    font-family: 'Lato';
    margin-right: 10px;
    ul {
        list-style: none;
    margin: 0;
    padding: 0px;
    height: 66px;
    padding-top: 4vw;
    text-align: right;
padding-right: 4vw;

display: grid;
    display: -ms-grid;
    -ms-grid-columns: auto auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    justify-content: end;
    align-content: space-around;

    li {
        display: inline;
    padding-left: 1vw;
    font-size:16px;
    grid-column: span 1;
    a {
        text-decoration: none;
        color: #111111;
        border-radius: 100px;
        border: 1px solid #0A0A0A;
        padding: 0.5vw 2vw 0.5vw 2vw;
    }

    a:hover, a:focus {
        background: #111111;
        color: #ffffff;
        transition: opacity 1s;
    }
    }
    }
}

.banner {
    
    text-align: left;
    padding-left:8vw;
    padding-right:8vw;
    padding-top: 8vw;
    padding-bottom: 16vw;
    //background: #E4E4E4;
    background: #feef67;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-left: 10px;
    margin-right: 10px;
    display: block;

   p {
   margin:0;
    padding:0;
   }

   img {
    display: block;
   }

}

.lines {
    position: absolute;
    top:0;
    left: 0;
}

.block {
    background: #FEEF67;
    height: 100px;
    display: block;
}

.block2 {
    background: #9F71F7;
    height: 100px;
    display: block;
}

.block3 {
    background: #FF4A4A;
    height: 100px;
    display: block;
}

.block4 {
    background: #161313;
    height: 100px;
    display: block;
}

.btn {
    
    background: rgba(255,255,255, 0);
    border-radius: 100px;
    border: 2px solid #111111;
    color: #111111;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 300;
    text-decoration: none;
    padding: 1vw 2vw 1vw 2vw;
    text-shadow: none;
    text-align: center;
    transition: background-color 1s;
    margin-top:4vw;
    display: inline-block;
}

a.btn:hover {
    background: rgba(0,0,0, 1);
    color: #ffffff;
}

a.btn:focus {
    background: rgba(0,0,0, 1);
    transition: none;
    color: #ffffff;
}

.stars {
    position: absolute;
    width: 100%;
    height: 800px;
    top:0;
}

.spacebg {
    position: absolute;
    top:0;
    right: -16vw;
    width: 100vw;
    height: 740px;
    overflow: hidden;
    canvas {
    }
}