.error404 {
    background: #FEEF67;
     font-size: 18px;
     color: #111111;
     padding-bottom:2vw;
     padding-top:2vw;
     text-align:center;

     h1 {
        font-family: "Lemon";
        font-size: 54px;
     }

     img {
        width:60%;
     }
}


body {
    background: #FEEF67;
}