.footer {
    background: #ffffff;
     font-size: 18px;
     color: #111111;
     
}



.footerRight {
   
    
     text-align:right;

     a {
          color: #111111;
          text-decoration: none;
          border-bottom: 1px solid #111111;
          margin-left: 10px;
     }
}