body {
  background-color: #161313;
  text-align: center;
  overflow: hidden;
}

img {
  text-align: center;
}

h1 {
  position: absolute;
  right: -9999px;
}

.container {
  text-align: center;
display: grid;
align-content: space-evenly;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;

}